*{
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  background-color: white;
  color: black;
}

.header_index {
  display: flex;
  flex-direction: row;
  padding: 2% 10% 2% 10%;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.div_logo{
  width: 30%;
}

.img_logo{
  width: 50%;
}

.main_index{
  row-gap: 150px;
}

.nav_main{
  display: flex;
  width: 70%;
  padding-left: 45%;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

.div_img_main{
  display: flex;
  flex-direction: column;
  padding: 5% 0% 5% 0%;
  align-items: center;
  row-gap: 30px;
}

.img_main{
  width: 25%;
}

.desc{
  display: flex;
  flex-direction: column;
  padding: 2% 10% 2% 10%;
  row-gap: 20px;
  /*text-align: center;
  background-image: url(../images/log_uc.png); 
  background-size: cover;
  background-position: center;*/
}

p{
  background-color: rgba(0, 0, 0, .0);
}

.table_alum{
  width: 100%;
  padding: 2% 10% 2% 10%;
  border-spacing: 15px;
}

.img_table{
  width: 260px;
  height: 190px;
  border-radius: 5%;
}

.footer_index{
  display: flex;
  flex-direction: column;
  padding: 5% 0% 5% 0%;
  width: 100%;
  row-gap: 20px;
  align-items: center;
}

.div_sub{
  display: flex;
  flex-direction: column;
  padding: 2% 10% 2% 10%;
  align-items: center;
  row-gap: 10px;
}

.block_alum{
  display: flex;
  padding: 2% 10% 2% 10%;
  flex-wrap: wrap;
  column-gap: 150px;
  row-gap: 100px;
  justify-content: center;
}

.div_block{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

/*acerca_de.html*/

.main_grl{
  display: flex;
  padding: 10% 10% 2% 10%;
  flex-direction: column;
  row-gap: 50px;
}

.div_acer_1{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 3%;
  border: 1px solid;
  border-radius: 1%;
}

.div_bloque{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.div_contenido{
  width: 25%;
}

.img_contenido{
  width: 220px;
  border-radius: 5%;
}

.div_parrafo{
  display: flex;
  align-items: center;
}

.img_logo_wa{
  width: 15px;
}

.tabla_bloque{
  display: flex;
  justify-content: center;
  border-spacing: 25px;
}

.img_logo_proyecto{
  width: 35px;
}









