/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Times New Roman', serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header .logo {
    width: 200px; /* Ancho aumentado */
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

header h1 {
    font-size: 2.5em;
    color: #2e8b57; /* Verde */
}

header h2 {
    font-size: 1.5em;
    color: #4682b4; /* Azul */
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h3 {
    font-size: 1.8em;
    color: #2e8b57; /* Verde */
    margin-bottom: 10px;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

section ul li img.icon,
a img.icon-link {
    width: 24px; /* Icono mediano */
    height: 24px; /* Icono mediano */
    vertical-align: middle;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

iframe {
    display: block;
    margin: 0 auto;
}

a {
    color: #4682b4; /* Azul */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
