/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffb546;
    color: #000000;
    text-align: center;
    padding: 1rem 0;

}

article {
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article:hover {
    color: #ffc400;
}

table {
    background-color: #ffb546;
    color: #000000;
    text-align: center;
    padding: 0.25rem;
    margin: 0 auto; /* Centrar la imagen */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

section {
    background: #fff;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 0.25rem;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centrar la imagen */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centrar el video */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

p {
    text-align: center;
}

a.links {
    text-align: center;
}
